@charset "UTF-8";
/*================== Inicio - estilo para Tablet ===================*/
@media only screen and (max-width: 980px) {
  .particles {
    display: none; }
  .particles_barra {
    display: none; } }

/*================ Geral ===================*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .dist_mobile {
    width: 60%;
    margin: auto; }
  .particles {
    display: none; }
  .titulo-sessao {
    margin-top: 60px;
    margin-bottom: 60px; }
  .slogan {
    display: none; }
  .logo_txt {
    font-size: 30px !important;
    margin-top: 10px; }
  .bt_create_acount {
    display: flex;
    align-items: center;
    justify-content: center; }
  .sobre-plataforma {
    width: 100%; }
  .sobre_bar {
    padding-top: 110px;
    padding-bottom: 110px; }
  /*================introdução===================*/
  .header img {
    max-width: 40%; }
  .menu {
    margin-top: -60px; }
  .header {
    margin-top: -1px;
    height: 81px; }
  .intro {
    height: 800px;
    text-align: center; }
  .intro h1 {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-top: 100px;
    line-height: 60px; }
  .intro p {
    max-width: 600px;
    margin: 0 auto;
    float: none; }
  /*================ Sobre ===================*/
  .sobre {
    margin: 0 auto;
    margin-top: 10px; }
  .informacao img.top:hover {
    bottom: -212px;
    padding-top: 18px; }
  .informacao {
    height: 215px; }
  /*================ Diferenciais ===================*/
  .diferenciais {
    margin-top: 80px;
    height: 520px; }
  .slider {
    margin-top: 0px; }
  .slider p {
    padding-bottom: 10px;
    line-height: 25px;
    max-width: 200px;
    margin: 0 auto; }
  /*================ Novidade ===================*/
  .novidade {
    margin: 0 auto; }
  .itens-novidade img {
    max-width: 50%; }
  .itens-novidade p {
    margin-bottom: -60px;
    line-height: 25px;
    max-width: 300px; }
  /*================ Footer ===================*/
  .footer {
    margin-top: 40px; }
  .footer img {
    margin-right: 0px;
    margin-left: 20px;
    max-width: 15%; }
  .contato p {
    margin: 0 auto;
    line-height: 2; } }

/*================== Aqui termina o estilo para Tablet==============================*/
/*================ estilo para Smartphone começa aqui ======================*/
/*================ Geral ===================*/
@media only screen and (max-width: 767px) {
  .dist_mobile {
    width: 60%;
    margin: auto; }
  .bt_google {
    width: 100%;
    margin-top: 10px; }
    .bt_google img:hover {
      margin-top: 0px; }
  .bt_ios {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px; }
    .bt_ios img:hover {
      margin-top: 0px; }
  .particles {
    display: none; }
  .logo_txt {
    font-size: 20px !important;
    margin-top: 20px;
    margin-left: 10px; }
  .slogan {
    display: none; }
  .logo {
    margin-top: 5px; }
  .bt_create_acount div {
    width: 100%; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    text-align: center; }
  h3 {
    font-size: 18px;
    font-weight: bold; }
  h4 {
    font-size: 16px; }
  p {
    text-align: center;
    font-size: 16px;
    font-weight: 400; }
  .titulo-sessao {
    margin-top: 80px; }
  /*================Menu mobile===================*/
  .menu {
    display: none;
    margin-right: 0px; }
  .mobile-btn {
    float: right;
    display: block;
    width: 36px;
    height: 36px;
    margin: 0px 0px 0 0px;
    border-top: 4px solid;
    color: #ccc;
    position: relative;
    cursor: pointer;
    -webkit-backface-visibility: hidden; }
  .mobile-btn:after, .mobile-btn:before {
    content: '';
    display: block;
    height: 4px;
    margin-top: 4px;
    background-color: currentColor;
    position: relative;
    transition: transform .2s ease; }
  .mobile-btn.active {
    border-top-color: transparent; }
  .mobile-btn.active::after {
    margin-top: 0px;
    top: 2px;
    transform: rotate(45deg); }
  .mobile-btn.active::before {
    margin-top: 0px;
    top: 6px;
    transform: rotate(135deg); }
  .mobile-menu {
    display: block;
    margin-top: 45px;
    float: right;
    visibility: visible;
    position: fixed;
    background-color: #000;
    width: 100%;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    transition: .3s; }
  .mobile-menu.active {
    opacity: 1;
    visibility: visible; }
  .mobile-menu ul {
    position: relative;
    padding: 0px;
    margin: 0; }
  .mobile-menu ul li {
    display: block;
    float: none; }
  .mobile-menu a {
    width: 100%;
    text-align: center;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all .20s; }
  .mobile-menu a:hover {
    width: 100%;
    text-align: center;
    padding: 20px;
    display: block;
    background-color: #1f1f1f;
    text-decoration: none;
    color: #fff;
    transition: all .20s; }
  .bt_go_aulapp {
    width: 100%;
    margin-left: 0px; }
  /*================introdução===================*/
  .header img {
    max-width: 40%; }
  .header {
    height: 70px; }
  .header2 {
    height: 70px; }
  .intro {
    background-position: center;
    text-align: center;
    height: 830px;
    width: 100%; }
  .intro h1 {
    font-size: 30px;
    color: #fff;
    margin-top: 0px;
    line-height: 35px; }
  /*================ Sobre ===================*/
  .sobre {
    margin-top: 0px; }
    .sobre h2 {
      float: left; }
    .sobre p {
      text-align: left;
      float: left;
      width: 100%; }
  .cards-produtos {
    margin-top: 50px; }
  .informacao {
    height: 185px; }
  .card p {
    margin-top: -15px; }
  .nome-card img {
    float: left;
    margin-left: 10px; }
  .informacao img.top:hover {
    bottom: -181px;
    padding-top: 220px; }
  /*================ Diferenciais ===================*/
  .diferenciais {
    margin-top: 80px;
    height: 520px; }
  .slider {
    margin-top: 20px; }
  .slider p {
    padding-bottom: 10px; }
  #slide-vantagens .owl-next {
    margin-left: 100px; }
  #slide-vantagens .owl-prev {
    margin-right: 100px; }
  .owl-theme .owl-controls .owl-page span {
    width: 8px;
    height: 8px;
    margin: 5px 7px; }
  /*================ Novidades ===================*/
  .itens-novidade img {
    max-width: 20%;
    margin-bottom: -10px;
    margin-top: 20px; }
  .itens-novidade {
    margin-bottom: 100px; }
  .itens-novidade p {
    margin-bottom: -130px; }
  /*================ Footer ===================*/
  .footer {
    padding-top: 40px; }
  .footer img {
    margin-right: 0px;
    margin-left: 20px;
    margin-bottom: 60px;
    max-width: 40%; }
  .contato {
    float: none; }
  .contato p {
    margin: 0 auto;
    line-height: 2;
    max-width: 180px; }
  .contato span {
    font-weight: bold; }
  .traco {
    visibility: hidden; }
  /*================== Fim - estilo para smartphone ===================*/ }
