
@import '_animate/animate';



$color_bars: #0f0f0f;
$color_links: #9f9f9f;

$primary-color: #ffa113;





// Padronização do rem para 16px
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}  

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//Alinha Componentes
@mixin align_comps($vertical:center, $horizontal:center){
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
 
}

//Margin Auto
@mixin push--auto {
  margin: { 
      left: auto;
      right: auto;
  }
}


//Transiçõa suave
@mixin transition($duration:0.4s, $ease: ease){

  cursor: pointer;
  -webkit-transition: all $duration $ease;
  -moz-transition: all $duration $ease;
  -ms-transition: all $duration $ease;
  -o-transition: all $duration $ease;
  transition: all $duration $ease;
}


//Escalar componente
@mixin scale($value: 1.05){
  -webkit-transform: scale($value);
  -ms-transform: scale($value);  
  transform: scale($value); 
}

//Sombra de blocos
@mixin shadow($type:medium){

  $current_shadow: $shadow_medium;

  @if $type == small {
      $current_shadow: $shadow_small;
    } @else if $type == medium {
      $current_shadow: $shadow_medium;
    } @else if $type == large {
      $current_shadow: $shadow_large;
    } @else if $type == extra {
      $current_shadow: $shadow_extra;
    } @else {
      $current_shadow: $shadow_medium;
    }


  box-shadow:  $current_shadow;
}


$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50);
$sides: (top, bottom, left, right); 

@each $space in $spaceamounts {
@each $side in $sides {
  .m#{str-slice($side, 0, 1)}-#{$space} {
    margin-#{$side}: #{$space}px !important;
  }

  .p#{str-slice($side, 0, 1)}-#{$space} {
    padding-#{$side}: #{$space}px !important;
  }
}
}


.row-eq-height {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display:        flex;
}






/*-------------==========  O GRid  ===============--------*/



*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.grid-1, .grid-2, .grid-3, .grid-4 {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}


.grid-1 	{width: 270px;}
.grid-2 	{width: 370px;}
.grid-3 	{width: 420px;}
.grid-4 	{width: 970px;}







/*=============== grid Responsivo ==================*/


@media only screen and (min-width: 768px) and (max-width: 1024px) {

.container {
	width: 768px;
    
}



.grid-1		{width: 350px;}
.grid-2		{width: 350px;}
.grid-3		{width: 124px;}
.grid-4		{width: 172px;}



}

@media only screen and (max-width: 767px) {
.container {
	width: 300px;
}



.grid-1, .grid-2, .grid-3, .grid-4 {
	width: 300px;
	margin: 0 0 20px 0;
	float: none;
}

}



/* Estilos gerais */



body {

	font-family: 'Roboto, Open Sans', sans-serif;
    margin: 0;
    background-color: $color_bars;
}

h1 {

	font-size: 60px;
	font-weight: 700;

}


h2 {

	margin-top: 60px;		
	font-size: 30px;
	font-weight: 700; 
}




h3 {

	font-size: 20px;
	font-weight: 700;
	
}


h4 {

	font-weight: bold;
	font-size: 18px;
}

p {

	font-size: 18px;
	line-height: 33px;
	color: #707070;
    letter-spacing: 0.5px;
    font-weight: lighter;
	

	
}

img {

	max-width: 100%;
}

.titulo-sessao {
  margin-top: 120px;
  
}




.header {

	background-color: $color_bars;
	width: 100%;
	height: 100px;	
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    position: relative;
	z-index: 1;
  top: 0;
  @include fadeInDown();

}

.header img {

	margin-top: 20px;
    

}

.header2{

  position: fixed;


  background-color: $color_bars;
	width: 100%;
	height: 100px;	
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
 
	z-index: 1;
  top: 0;
  @include fadeInDownBig();

}

/*================== MENU ===================*/

.menu {

	
	float: right;
    margin-right: -10px;
    margin-top: 7px;
    
	

}

.menu ul {

	position: relative;
   

}

.menu ul li {


	list-style-type: none;
  float: left;
  


}

.menu a {

	// font-weight: bold;
	padding: 15px;
	padding-right: 20px;
	display: block;
	text-decoration: none;
	color: $color_links;
  cursor: pointer;
  @include transition();

}


.menu ul li a:hover{
  
  color: $primary-color;
  margin-top: -8px;
  
}



.bt_create_acount{
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 90px;
  z-index: 1000;
  
  
  float: left;
  margin-top: 10px;

  a:link,:visited,:hover,:active{
    text-decoration: none;
    color: #000;

  }

    div{
      width: 250px;
      background-color: #ffc244;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      height: 60px;
      padding-top: 20px;
      


      @include fadeInLeft($delay:0.7s);
      @include transition();

      &:hover{
        margin-left: 10px;
        background-color: #ffd749;
      }
    }
}


/*================== intro =================*/



.intro {
  @include fadeIn();


	text-align: left;
    background-image: url(../img/bg_banner.jpg);
    height: 840px;
    width: 100%;
    overflow: hidden !important;
   
   
    .grade2{
      width: 40%;
      height: 900px;
      
      background-image: url(../img/efeito_rede.png);
      background-size: auto 100%;
      background-repeat: no-repeat;
      float: right;
      opacity: 0.5;
      margin-top: -700px;
      z-index: 5;
  
  
    }
  


    
    
  
  
}



.intro h1 {
		@include fadeInUp();
	color: #fff;

    line-height: 80px;
    max-width: 800px;
  
  font-size: 50px;
  
  margin: 0px;
  margin-top: 100px;

  text-shadow: 1px 1px 10px rgba(119,40,10,0.2);

}


.intro p {

  @include fadeInUp();
    
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    float: left;
     margin-left: 5px;
  
    
  
}


/*=============== Sobre ==================*/


.sobre_bar{
  background-color: #fff;

  padding-top: 110px;
  padding-bottom: 110px;

}




.sobre-plataforma {
  
  margin-top: -35px;
  text-align: left;
  color: #3E3E3E;

  p{
    font-size: 14px;
    line-height: 1.8;
  }

}


.card {
  
  
  display: block;
  background:rgba(0,0,0,0);
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
 
  
}


.informacao {
  
  height: 228px;
  position:relative;
  overflow:hidden;
  background: #292929;
  
}




.informacao p{
  
  text-align: center;
  color:#fff;
  padding:10px;
  padding-top: 30px;
  position:relative;
  margin:0 auto; 
  max-width: 330px;
  font-size: 15px;
  font-weight: lighter;
  line-height: 1.7;
  
  
    
}


.informacao img {
  
  position:absolute;
  left:0;
  bottom:0;
  cursor:pointer;
  margin:0;
@include transition();

}


.informacao img.top:hover {
  
   
    bottom:-223px;
    padding-top:220px;


}




.nome-card {
  
  
  margin: 0 auto;
  margin-top: -5px;
  width: 100%;
  text-align: left;
  color: #647484;
  

}


.nome-card img{
  
  float: left;
  margin-right: 15px;
  
 
  
 }

a{
  text-decoration: none;
}
 .bt_tutorial{
   width: 100%;
   height: 60px;
   background-color: #7a92a7;
   color: #fff;
   cursor: pointer;
   margin-top: 60px;
   text-decoration: none;
   @include align_comps();
   @include transition();

   &:hover{
     background-color: #99b5ce;
     text-decoration: none;
   }
 }







/*=============== Vantegens e diferenciais ==================*/


.diferenciais {
    
    text-align: center;
    background-color: rgb(29, 29, 29);
    height: 690px;    
    width: 100%;
    color: #fff;      
  
}

.diferenciais h2{
  
  font-weight: 600;
}





.vantagem {
  
  margin: 10px;
  
}


.slider {
  
  margin-top: 80px;
}


.slider p{
  
  color:#fff;
  font-weight: lighter;
  padding-bottom: 50px;
  max-width: 300px;
  margin: auto;
  font-size: 16px;
}


#slide-vantagens .owl-buttons {
  
  margin-top: -40px;  
}


#slide-vantagens .owl-next {

	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100px;	
	background: transparent;
	cursor: pointer;
    margin-left: 60px;


}

#slide-vantagens .owl-prev{

	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100px;	
	background: transparent;
	cursor: pointer;
    margin-right: 60px;
    


}

#slide-vantagens .owl-prev:after {
	content: '';
	display: inline-block;
	margin-top: 8px;
	margin-left: 5px;
	width: 14px;
	height: 14px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	-webkit-backface-visibility:hidden;

}

#slide-vantagens .owl-next:after {
	content: '';
	display: inline-block;
	margin-top: 8px;
	margin-left: -5px;
	width: 14px;
	height: 14px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-backface-visibility:hidden;
}




/*=============== slider ==================*/





.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}




/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}




.owl-theme .owl-controls{
  margin-top: 20px;
  text-align: center;
}


.owl-theme .owl-controls .owl-buttons div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 10px; 
  
  padding: 3px 10px;
  font-size: 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  background-color: transparent;
  
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

.owl-theme .owl-controls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span{
  display: block;
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
}






/*=============== Novidades ==================*/



.novidades {
  
  text-align: center;
  background-color: #fff;
  color: #3E3E3E;
  
  
}



.itens-novidade {
  
  margin-top: 50px;
  
}


.itens-novidade p {
  
  padding-bottom: 140px;
  color: #5B7181;
  font-weight: 500;
  line-height: 25px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 16px;
  
}




/*=============== footer ==================*/



.footer {
  
  
  padding-top: 40px;
  padding-bottom: 50px;
  background: #F2F2F2;
  
}

.footer img{
  
  margin-right: 40px;
  
}

.contato {
  
  float: right;
  margin-top: -20px;
  


}


.contato p{
  
  line-height: 1.7;
  color: #3E3E3E;
  font-weight: 600;
  
}

.contato span{
  
  font-weight: bold;
  float: left;
  
}





.bt_go_aulapp{
  background-color: $primary-color;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
  border: none;
  color: #ffffdc;
  cursor: pointer;
  font-size: 14px;
  margin-left: 30px;
  font-weight: bold;
  @include transition();

  &:hover{
    opacity: 0.9;
    margin-top: -8px;
  }
}


.logo{
  margin-top: 16px;



.logo_aulapp{

  width: 35px;
  margin-top: 10px;
  float: left;
  @include rotateIn( $duration: 1.5s);


  .color_manager {
    fill: #3ead90;
  }

  .color_learn{
    fill: #3273b4;
  }

  .color_publisher {
    fill: #e04579;
  }

  .color_market {
    fill: #94ac2f;
  }

  .color_teacher {
    fill: #efa023;
  }

  .color_family {
    fill: #e13a31;
  }

  .color_hub{
    fill: #7b93a7;
  }

  .color_center {
    fill: #fff;
  }
  
}

.logo_txt{
  font-size: 47px;
  float: left;
  font-weight: 600;
  color: #d8dde1;
  margin-left: 5px;
}


.slogan{
  margin-top: -7px;
  width: 100%;
  color: #d8dde1;
  float: left;
  font-size: 12px;
  text-align: left;
  margin-left: 40px;
  opacity: 0.5;
}

@include transition();

  &:hover{
    margin-top: 10px;
    
  }

}

.dist_mobile{
  margin-top: 70px;
  width: 100%;
  height: 100px;
}

.bt_google{
  float: left;
  margin-top: 10px;
  @include fadeInLeft($delay:0.85s);


    img{

   
      @include transition();

      &:hover{
        margin-top: 10px;
      }
    }
    

    
  
}



.bt_ios{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  @include fadeInLeft($delay:0.85s);


    img{

   
      @include transition();

      &:hover{
        margin-top: 10px;
      }
    }
    

    
  
}


.ic_face{
  background-image: url(../img/ic_face.jpg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  float: left;
  margin-left: 10px;
  

}

.ic_linke{
  background-image: url(../img/ic_linke.jpg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  float: left;

}


.colmeia {
  stroke: #ffc261;
  stroke-miterlimit: 10;
  fill: url(#linear-gradient);
  opacity: 0.7;
  
}



.particles{
  position: absolute;
  right: 0px;
  top: 100px;
  height: 840px;
  width: 40%;
  margin-right: 10%;
  overflow: hidden;


}

.particles_barra{
  position: absolute;
  right: 0px;
  top: 100px;
  height: 740px;
  width: 40%;
  margin-right: 10%;
  overflow: hidden;

}

.particle1{
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -200px;
  right: 10px;

  -webkit-animation-name: particle1_anima; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-name: particle1_anima;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;

}


.particle2{
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -200px;
  right: 100px;

  -webkit-animation-name: particle2_anima; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-name: particle2_anima;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 8s;

}


.particle3{
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -200px;
  right: 200px;


  -webkit-animation-name: particle3_anima; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-name: particle3_anima;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 15s;

}

.text_colmeia{
  position: relative;
  top: -100px;
  z-index: 1000;
  width: 100%;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes particle1_anima {
  0%   {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(40deg) rotateY(30deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(40deg) rotateY(30deg);
    bottom: -200px;
    right: 20px;
  }

  100% {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(-40deg) rotateY(-30deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(-30deg);
    bottom: 880px;
    right: 26px;
    transform: scale(1.3);
  }

}

/* Standard syntax */
@keyframes particle1_anima {


  0%   {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(40deg) rotateY(30deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(40deg) rotateY(30deg);
    bottom: -200px;
    right: 20px;
  }

  100% {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(-40deg) rotateY(-30deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(-30deg);
    bottom: 880px;
    right: 26px;
    transform: scale(1.3);
  }


}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes particle2_anima {
  0%   {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(-40deg) rotateY(-30deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(-30deg);
    bottom: -200px;
    right: 100px;
  }

  100% {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(40deg) rotateY(30deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(40deg) rotateY(30deg);
    bottom: 880px;
    right: 150px;
    transform: scale(1.2);
  }

}

/* Standard syntax */
@keyframes particle2_anima {


  0%   {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(-40deg) rotateY(-30deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(-40deg) rotateY(-30deg);
    bottom: -200px;
    right: 100px;
  }

  100% {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(40deg) rotateY(30deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(40deg) rotateY(30deg);
    bottom: 880px;
    right: 150px;
    transform: scale(1.2);
  }

}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes particle3_anima {
  0%   {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(-20deg) rotateY(20deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(20deg);
    bottom: -200px;
    right: 250px;

  }

  100% {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(30deg) rotateY(50deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(50deg); 
    bottom: 880px;
    right: 250px;

    transform: scale(1.3);
  }

}

/* Standard syntax */
@keyframes particle3_anima {


  0%   {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(-20deg) rotateY(20deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(20deg);
    bottom: -200px;
    right: 250px;

  }

  100% {
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform-style: preserve-3d; /* Safari 3-8  */    
    -webkit-transform: rotateX(30deg) rotateY(50deg); /* Safari 3-8  */
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(50deg); 
    bottom: 880px;
    right: 250px;

    transform: scale(1.3);
  }


}

.black_modal{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1500;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.3;
  display: none;
}
.modal{
  position: absolute;

margin: auto;
//  background-color: plum;

  
  width: 100%;
  top: 30px;
  z-index:2000 ;
  display: none;
  text-align: center;

  iframe{
    margin: auto;
  }
}

.bt_close_modal{
  position: relative;
  top: -1340px;
  width: 760px;
  height: 100px;
  margin: auto;
  // background-color: plum;

  .close{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2500;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 200px;
  @include align_comps();
  cursor: pointer;
  @include transition();
    &:hover{
      opacity: 0.6;
      
    }
  }
}


.modal_fundo_entrada{
  @include fadeIn();
  display: block;
}

.modal_fundo_saida{
  @include fadeOut();
}

.modal_entrada{
  @include fadeInDownBig();
  display: block;
}

.modal_saida{
  @include fadeOutUpBig();
}




.contact_area{
  height: 400px;
  overflow: hidden;

  h1{
    margin-top: 100px;
    font-size: 35px;
    color: #fff;
  }

  span{
    color: #fff;
  }

  .bt_formulario{
    max-width: 350px;
    background-color: #ffc244;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;

    @include transition();

    &:hover{
      margin-left: 10px;
      background-color: #ffd749;
    }

  }


}

.contact_img_area{
  position: relative;
  top: -400px;
  background-image: url(../img/bg_banner.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  z-index: -1;
  -webkit-filter: saturate(0%); /* Safari 6.0 - 9.0 */
  filter: saturate(0%);
  opacity: 0.5;

}















